@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', serif;
    background-color: #94a3b8;
}

.header-container {
    margin: 64px;
    display: flex;
    justify-content: center;
    color:  #ffffff;
}

.header-container h1 {
    font-size: 52px;
}

.container {
    margin-top: 120px;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.restart-btn{
    flex: none;
    width: 150px;
    height: 60px;
    background-color: #FF2600 ;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.start-btn {
    flex: none;
    width: 150px;
    height: 60px;
    background-color: #8A9A5B;

}

.text-input-container {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.name-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
}

.name-input input {
    background-color: #f1f5f9;
    height: 24px;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cell {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid black;
}

.grid-cell:hover {
    background-color: #cbd5e1;
}